:root{
    --background-color: #F6F6F6;
    --toolbar-height: 60px;
    --toolbar-offset: 60px;
    --btn-size: 30px;
    --chat-width: 300px;
    --chat-height: 500px;
    --canvas-offset-x: 70px;
    --canvas-offset-y: 70px;
}