.inviteModal{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 400px;
}

.inviteText{
    font-size: 1.5rem;
    font-weight: bold;
}

.inviteInputContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.inviteInput{
    width: 80%;
    padding: 3px 10px 3px 10px;
    font-size: 1.1rem;
    border-radius: 7px;
    outline: none;
    border: 2px solid black;
}

.copyButton {
    font-size: 1.1rem;
    padding: 3px 10px 3px 10px;
    border-radius: 7px;
    cursor: pointer;
    background-color: #09a809;
    color: white;
    border: 2px solid #0d690d;
    transition: 0.3s;
}

.copyButton:hover {
    background-color: white;
    color: #09a809;
    transition: 0.3s;
}

.closeInvite{
    padding: 3px 30px 3px 30px;
    font-size: 1.2rem;
    border-radius: 7px;
    cursor: pointer;
    border: 2px solid darkred;
    background-color: crimson;
    color: white;
    transition: 0.3s;
}

.closeInvite:hover {
    transition: 0.3s;
    background-color: white;
    color: crimson;
}