@import "./Variables.css";

.main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 250px;
    border: 3px solid black;
    border-radius: 10px;
    gap: 50px
}

.main-button{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: 3px solid black;
    cursor: pointer;
    font-size: 20px;
}

.button_container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.modal_button{
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
    width: 100px;
    height: 30px;
    font-size: 16px;
}

.modal_input{
    width: 300px;
    height: 25px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 16px;
}

.room_text{
    font-size: 20px;
    text-align: center;
}