@import "./Variables.css";

.toolbar-w{
    position: absolute;
    width: 90%;
    height: var(--toolbar-height);
    background-color: white;
    border: 1px solid black;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: var(--horizantal-offset);
    padding-left: 10px;
    padding-right: 10px;
}

.toolbar-h{
    height: 90vh;
    width: var(--toolbar-width);
    min-width: var(--toolbar-width);
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--vertical-offset);
}

.toolbar-btn{
    width: var(--btn-size);
    height: var(--btn-size);
    cursor: pointer;
    background-size: cover;
    border: 1px solid black;
    outline: none;
    margin-top: 20px;
}

.brush{
    background: url("../Images/brush.png") no-repeat center center;
}

.eraser{
    background: url("../Images/eraser.png");
}

.next{
    margin-top: auto;
}

.save{
    margin-bottom: 20px;
}

.button_invite{
    border-radius: 10px;
    width: 120px;
    height: 25px;
    cursor: pointer;
    font-size: 16px;
    background-color: aquamarine;
    margin-left: auto;
    border: 2px solid darkgreen;
    font-weight: bold;
}

.button_leave{
    border-radius: 10px;
    width: 100px;
    height: 25px;
    cursor: pointer;
    font-size: 16px;
    border: 2px solid darkred;
    background-color: crimson;
    font-weight: bold;
}
