:root{
    --background-color: #F6F6F6;
    --toolbar-height: 40px;
    --toolbar-offset: 50px;
    --btn-size: 25px;
    --chat-width: 300px;
    --chat-height: 500px;
    --canvas-offset-x: 60px;
    --canvas-offset-y: 60px;
}