:root{
    --background-color: #F6F6F6;
    --toolbar-height: 40px;
    --toolbar-width: 40px;
    --vertical-offset: 10px;
    --horizantal-offset: 50px;
    --btn-size: 25px;
    --chat-width: 300px;
    --chat-height: 500px;
    --canvas-offset-x: 10px;
    --canvas-offset-y: 10px;
}